*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body{
    margin:0;
    padding:0;
    width:100%;
    min-height:100%;
    overflow-x:hidden;
}

body{
    display:block;
}

body{
    font-family: 'Segoe UI', sans-serif;
    background-color: #c4cdd7;
}
/* Sidebar */
.sidebar{
    position:fixed;
    top:0;
    left:0;
    width:250px;
    height:100vh;
    display:flex;
    flex-direction:column;
    transition:.3s;
    z-index:1050;
}

.sidebar.hide{
    left:-250px;
}

/* Navbar */
.top-navbar{
    position: fixed;
    top: 0;
    left: 250px;
    width: calc(100vw - 250px);
    height: 70px;
    background: #fff;
    z-index: 1040;
    transition: all .3s ease;
    display: flex;
    align-items: center;
}

.top-navbar.full{
    left: 0;
    width: 100vw;
}

/* Content */
.content{
    margin-top:70px;
    margin-left:250px;
    padding:25px;
    min-height:100vh;
    transition:.3s;
}

.content.full{
    margin-left:0;
}

.card{

    border:none;
    border-radius:15px;

}


.card:hover{

    transform:translateY(-3px);
    transition:0.3s;

}

table th,
table td{
    text-align: center !important;
    vertical-align: middle !important;
}

.btn{

    border-radius:8px;

}

.wp-card{
    border: none;
    border-radius: 18px;
    transition: .3s;
    cursor: pointer;
}

.wp-card:hover{
    transform: translateY(-6px);
    box-shadow: 0 12px 25px rgba(0,0,0,.15);
}

.wp-card i{
    font-size: 48px;
}

.wp-card h2{
    font-weight: 700;
}

/* ================= FOOTER ADMIN ================= */

.footer-admin{
    background:#1f6cf0;
    color:#fff;
    text-align:center;
    padding:18px 15px;
    margin-top:40px;

    border-top:3px solid #0d5bd7;
    box-shadow:0 -2px 10px rgba(0,0,0,.08);

    margin-left:-25px;
    margin-right:-25px;
    margin-bottom:-25px;

    transition:all .3s ease;
}

.footer-admin.full{
    margin-left:0;
    margin-right:0;
}

.footer-admin .container-fluid{
    padding:0;
}

@media(max-width:991px){

    .footer-admin{
        margin-left:-15px;
        margin-right:-15px;
        margin-bottom:-15px;

        padding:16px 10px;
        font-size:14px;
    }

}